<% include ../partials/header %>

  <h2>Log In</h2>
  <p class="message"><%= message %></p>
  
  <form method="post" action="/login" class="form-horizontal" role="form">

    <% include ../partials/sign_up_log_in %>

  <p class="prompt">Don't have an account? <a href="/signup">Sign up here.</a></p>

<% include ../partials/footer %>