<% include ../partials/header %>

  <h2>Sign Up</h2> 
  <p class="message"><%= message %></p>
  
  <form method="post" action="/signup" class="form-horizontal" role="form">

    <% include ../partials/sign_up_log_in %>

  <p class="prompt">Have an account? <a href="/login">Log in here.</a></p>

<% include ../partials/footer %>